fqdn / domain attribute or cli flag

`hostname` is a [good approximation](https://github.com/serokell/deploy-rs/blob/6278b9bef5ad624676a565980417cbbef42d5227/src/deploy.rs#L249), but we also need a domain, so that we can construct FQDNs even in split-horizon scenarios, where the domain is swapped.

This is the case for MulticastDNS which, per [rfc6762](https://tools.ietf.org/html/rfc6762) swaps the domain for `local.` to `hostname.local.`

NixOS to that end knows:
```nix
{
    networking.hostName = mkOption {
      default = "nixos";
      # Only allow hostnames without the domain name part (i.e. no FQDNs, see
      # e.g. "man 5 hostname") and require valid DNS labels (recommended
      # syntax). Note: We also allow underscores for compatibility/legacy
      # reasons (as undocumented feature):
      type = types.strMatching
        "^$|^[[:alnum:]]([[:alnum:]_-]{0,61}[[:alnum:]])?$";
      description = ''
        The name of the machine. Leave it empty if you want to obtain it from a
        DHCP server (if using DHCP). The hostname must be a valid DNS label (see
        RFC 1035 section 2.3.1: "Preferred name syntax", RFC 1123 section 2.1:
        "Host Names and Numbers") and as such must not contain the domain part.
        This means that the hostname must start with a letter or digit,
        end with a letter or digit, and have as interior characters only
        letters, digits, and hyphen. The maximum length is 63 characters.
        Additionally it is recommended to only use lower-case characters.
        If (e.g. for legacy reasons) a FQDN is required as the Linux kernel
        network node hostname (uname --nodename) the option
        boot.kernel.sysctl."kernel.hostname" can be used as a workaround (but
        the 64 character limit still applies).
      '';
    };

    networking.fqdn = mkOption {
      readOnly = true;
      type = types.str;
      default = if (cfg.hostName != "" && cfg.domain != null)
        then "${cfg.hostName}.${cfg.domain}"
        else throw ''
          The FQDN is required but cannot be determined. Please make sure that
          both networking.hostName and networking.domain are set properly.
        '';
      defaultText = literalExample ''''${networking.hostName}.''${networking.domain}'';
      description = ''
        The fully qualified domain name (FQDN) of this host. It is the result
        of combining networking.hostName and networking.domain. Using this
        option will result in an evaluation error if the hostname is empty or
        no domain is specified.
      '';
    };


    networking.domain = mkOption {
      default = null;
      example = "home.arpa";
      type = types.nullOr types.str;
      description = ''
        The domain.  It can be left empty if it is auto-detected through DHCP.
      '';
    };
}
```

Alternatively, we could start by doing a fallback try on `local.`. This solves #74 in an elegant way with a slightly modified [bare.nix](https://github.com/serokell/deploy-rs/blob/master/examples/system/bare.nix) via:

```nix
{
              # Set up a link-local boostrap network
              # See also: https://github.com/NixOS/nixpkgs/issues/75515#issuecomment-571661659
              networking.usePredictableInterfaceNames = lib.mkForce true; # so prefix matching works
              networking.useNetworkd = lib.mkForce true;
              networking.useDHCP = lib.mkForce false;
              networking.dhcpcd.enable = lib.mkForce false;
              systemd.network = {
                # https://www.freedesktop.org/software/systemd/man/systemd.network.html
                networks."boostrap-link-local" = {
                  matchConfig = {
                    Name = "en* wl* ww*";
                  };
                  networkConfig = {
                    Description = "Link-local host bootstrap network";
                    MulticastDNS = true;
                    LinkLocalAddressing = "ipv6";
                    DHCP = "yes";
                  };
                  extraConfig = ''
                    # Unique, yet stable. Based off the MAC address.
                    IPv6LinkLocalAddressGenerationMode = "eui64"
                  '';
                };
              };
}
```

This is blocked by: https://github.com/NixOS/nix/issues/4643

This [increasingly](https://github.com/divnix/digga/issues/18#issuecomment-844635948) seems to be an issue.

I'm going to reopen when/if this becomes more specifiable